In [1]:
print("Hello World")

Hello World

In [2]:
print("Marry\'s cosmetics")

Marry's cosmetics

In [3]:
print("신씨가 소리질렀다. \"도둑이야\".")

신씨가 소리질렀다. "도둑이야".

In [4]:
print('c:\\Windows')

c:\Windows

In [5]:
print('안녕하세요.\n만나서\t\t반갑습니다.')

안녕하세요.
만나서		반갑습니다.

In [6]:
print('오늘은','일요일')

오늘은 일요일

In [12]:
print('naver;kakao;sk;samsung')
print('naver','kakao','samsung',sep=";")

naver;kakao;sk;samsung
naver;kakao;samsung

In [14]:
print('naver/kakao/sk/samsung')
print('naver','kakao','sk','samsung',sep="/")

naver/kakao/sk/samsung
naver/kakao/sk/samsung

In [17]:
print('first',end=' ')
print('second')

first second

In [19]:
print(5/3)

1.6666666666666667

In [23]:
samsung = 50000
s_total = samsung * 10
print(s_total)

500000

In [25]:
print(50000/298)

167.78523489932886

In [26]:
siga_total = 298000000000000
now_money = 50000
per = 15.79
print(siga_total,type(siga_total))
print(now_money,type(now_money))
print(per,type(per))

298000000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [33]:
s = "hello"
t = "python"
print(s +"! "+ t)

hello! python

In [34]:
print(2 + 2 * 3)

8

In [36]:
a = 132
print(type(a))

<class 'int'>

In [39]:
num_str = "720"
str_num = int(num_str)
print(type(str_num),int(str_num))

<class 'int'> 720

In [41]:
num = 100
num_str2 = str(num)
print(num_str2,type(num_str2))

100 <class 'str'>

In [42]:
a_float = "15.79"
b_fl = float(a_float)
print(b_fl, type(b_fl))

15.79 <class 'float'>

In [47]:
year = "2020"
year_int = int(year)
print(year_int - 1)
print(year_int - 2)
print(year_int - 3)

2019
2018
2017

In [46]:
aircon = 48584
month = 36
print("총 금액은",aircon * month,"원입니다")

총 금액은 1749024 원입니다

In [48]:
letters = "python"
print(letters[0],letters[2])

p t

In [49]:
license_car = "24가 2210"
print(license_car[4:])

2210

In [51]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [52]:
string2 = "PYTHON"
print(string2[::-1])

NOHTYP

In [55]:
phone_num = "010-1111-2222"
a,b,c = phone_num.split("-")
print(a,b,c)

010 1111 2222

In [57]:
phone_num = "010-1111-2222"
a,b,c = phone_num.split("-")
print(a+b+c)

01011112222

In [59]:
url_1 = "http://sharebook.kr"
url_2 = url_1.split('.')
print(url_1[-2:])
print(url_2[-1])

kr
kr

In [60]:
lang = "python"
lang[0] = "P"
print(lang)

TypeError: 'str' object does not support item assignment

In [61]:
string_m = "abcdfe2a354a32a"
string_m.replace("a","A")

'Abcdfe2A354A32A'

In [64]:
string_m2 = "abcd"
string_m2.replace("b","B")
print(string_m2)

abcd

In [65]:
a = "3"
b = "4"
print(a+b)

34

In [66]:
print("Hi"*3)

HiHiHi

In [67]:
print("-"*80)

--------------------------------------------------------------------------------

In [69]:
t1 = "python"
t2 = "java"
print((t1+" "+t2+" ")*4)

python java python java python java python java

In [72]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print('이름: %s 나이: %d'%(name1,age1))
print('이름: {} 나이: {}'.format(name2,age2))
print(f'이름: {name2} 나이: {age2}')

이름: 김민수 나이: 10
이름: 이철희 나이: 13
이름: 이철희 나이: 13

In [74]:
sangjang = "5,969,782,550"
sj = sangjang.replace(",","")
print(int(sj))

5969782550

In [76]:
bun = "2020/03(E) (IFRS연결)"
print(bun[:7])

2020/03

In [80]:
data = "    삼성전자    "
print(data.strip())

삼성전자

In [81]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [84]:
a = 'hello'
b = a[0].upper()+a[1:]
c = a.capitalize()
print(b)
print(c)

Hello
Hello

In [87]:
file_name = "2020_보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

In [90]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [91]:
aa = "hello world"
a,b = aa.split(" ")
print(a,b)

hello world

In [94]:
data = "039490      "
print(data.rstrip())

039490

In [95]:
movie_li = ["닥터 스트레인지","스플릿","럭키"]
print(movie_li)

['닥터 스트레인지', '스플릿', '럭키']

In [96]:
movie_li.append("배트맨")
print(movie_li)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [98]:
movie_li.insert(1,'슈퍼맨')
print(movie_li)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [103]:
lang1 = ["C","C++","JAVA"]
lang2 = ['Python', "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [104]:
num = [1, 2, 3, 4, 5, 6, 7]
print(max(num), min(num))

7 1

In [105]:
nums_li = [1, 2, 3, 4, 5]
print(sum(nums_li))

15

In [106]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [107]:
nums = [1, 2, 3, 4, 5]
print(sum(nums)/len(nums))

3.0

In [109]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

In [112]:
nums_hol = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums_hol[::2])
print(nums_hol[1::2])

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [113]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

In [115]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0],interest[2])

삼성전자 Naver

In [122]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [123]:
string = "삼성전자/LG전자/Naver"
str_s = string.split("/")
print(str_s)

['삼성전자', 'LG전자', 'Naver']

In [126]:
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
data.sort()
print(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]
[1, 2, 3, 4, 5, 9, 10]